  html {
    scroll-behavior: smooth;
  }
  
  body {
    padding-top: 10vh;
    margin: 0;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding: 0 2rem 0 2rem;
  
    font-size: 14px;
    color: white;
    background: #37445E;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .menuText {
    float: left;
  }
  
  .menu {
    float: right;
  }
  
  .menu li {
    margin: 10px;
  }
  
  ul, li {
    list-style: none;
  }
  
  nav li {
    /* nav안의 li들을 가로로 길게 */
    float: left;
  }

  .num1 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background: #37445E;
    margin: 0 0 5vh 0;
    border-radius: 0px 0px 70% 70% / 0px 0px 30% 30%;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
    text-align: center;
  }
  
  .num1 > .mainText {
    position: relative;
    top: 7vh;
    color: white;
    font-size: 32px;
  }
  
  .num1 .mainBtnDiv {
    position: relative;
    top: 30vh;
  
    
    height: 10vh;
    
    /*background: cornflowerblue;*/
  }
  
  .num1 .mainBtnDiv button {
    width: 20vw;
    height: 10vh;
    margin: 1vh;
    
    border: none;
    border-radius: 1vh;
  
    background-color: white;
    color: #37445E;
  
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
  }
  
  .num1 .mainBtnDiv button:hover {
    width: 20vw;
    height: 10vh;
    margin: 1vh;
    
    border: none;
    border-radius: 1vh;
  
    font-weight: bold;
    background-color: #EAF7FF;
    color: #000000;
  
    /*box-shadow: 10px 10px 0 0 black;*/
  }
  
  .searchSection {
    position: relative;
    height: 25vh;
    margin: 20vh 0 10vh 0;
    text-align: center;
    background: #37445E;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
    border-radius: 0px 0px 70% 70% / 0px 0px 30% 30%;
    padding-top: 10vh;
  }
  
  .searchSection2 {
    display: block;
    position: relative;
    height: 35vh;
    text-align: center;
    top: 35vh;
  }
  
  .mainText {
    top: 15vh;
    position: relative;
    font-size: 28px;
    color: white;
    display: block;
  }

  .mainHref {
    text-decoration: none;
    color: white;
  }

  .menuText {
    float: left;
  }

  .gameImg {
    width: 80%;
    height: 10vw;
    margin: 2vw 2vw 0.5vw 2vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box; 
  }

  .gameName {
    display: block;
    color: #37445E;
    font-weight: bold;
  }

  .gameRating {
    display: block;
    color: rgb(197, 170, 16);
  }
  
  .gameListDiv {
    display: inline-block; 
    position: relative; 
    width: 20vw; 
    height: 25vw;
    min-height: 250px;
    margin: 5vh;
    border-radius: 1vw;
    text-align: center; 
    vertical-align: top;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .1);
  }

  .likeBtn {
    width: 6vw;
    height: 2vw;
    margin-top: 1vw;
    border: none;
    border-radius: 0 0 0 0.5vw;
    background-color: #6BB5FF;
    color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
  }

  .unlikeBtn {
    width: 6vw;
    height: 2vw;
    margin-top: 1vw;
    border: none;
    border-radius: 0 0.5vw 0 0;
    background-color: #FF6B6B;
    color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
  }

  .likeBtn:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .3);
  }

  .unlikeBtn:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .3);
  }

  .signBtn {
    width: 6vw;
    height: 3vw;
    border: none;
    background-color: #37445E;
    color: white;
  }

  .signBtn:hover {
    width: 6vw;
    height: 3vw;
    border: none;
    background-color: #37445E;
    color: white;
    border-radius: 1vw;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, .1);
  }

  .gameGenres {
    margin: 1vh;
  }

  .gameGenresText {
    color: white;
    background-color: #7987a1;
    padding: 0.2vh;
    border-radius: 0.3vw;
  }