section {
    text-align: center;
}

.gameListDiv {
    position: relative;
    width: 20vw;
    height: 10vh;
    text-align: center;
    
    margin: 5vh;
    background-color: bisque;
}

.gameName {
    display: block;
}

.gameGenres {
    display: block;
}